Import the pandas library and read the 'heart.csv' file

In [17]:
import pandas as pd
ava = pd.read_csv('heart.csv')
df = pd.DataFrame(ava)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
alfa = df['sex']

Print the mean value of target column

In [10]:
beta = df.mean()
beta1 = df['target'].mean()
print(beta1)

0.5445544554455446

In [ ]:
Print the median value

In [15]:
median = df.median()
medain_target = df['target'].median()
median
medain_target

1.0

In [22]:
mode_value = df.mode()
mode_value1 = df['sex'].mode()
k = 0
p = 0
#CHECK THE DATA USING FOR LOOP
for i in df['sex']:
    if i==1:
        k = k + 1
    else:
        p = p + 1
mode_value1

0    1
Name: sex, dtype: int64

Standart deviation  or std()

In [24]:
df.std()
df['target'].std()

0.4988347841643913

In [26]:
df.var()
df['target'].var()

0.24883614189233488

Use between() function to dertermine if a value falls within the desired range.

In [29]:
df['age'].between(30,55)

0      False
1       True
2       True
3      False
4      False
       ...
298    False
299     True
300    False
301    False
302    False
Name: age, Length: 303, dtype: bool

Determine the correlation between two columns

In [50]:
maxim = 0
for col in df.columns:
    if col != 'target':
        cor_value = df['target'].corr(df[col])
        print(cor_value)
        if abs(cor_value) > maxim:
            maxim = abs(cor_value)
            index = col
print(' ')
print(maxim)
print(index)

-0.2254387158748369
-0.2809365755017664
0.4337982615068916
-0.14493112849775133
-0.08523910513756881
-0.028045760272712834
0.1372295028737731
0.4217409338106738
-0.4367570833532993
-0.43069600168736755
0.34587707824172226
-0.3917239923512518
-0.3440292680383096

0.4367570833532993
exang

The column with the highest correlation is 'exang' since the values have a strong relationship with each other.